
    <div class="banner">
        <div class="navbar">
            <img src="../assets/img/night_image.jpeg" class="logo">
            <ul>
                <li>
                    <a href="#"> home</a>
                    <a href="#"> service</a>
                    <a href="#"> information</a>
                    <a href="#"> signin</a>
                    <a href="#"> signout</a>
                </li>
            </ul>

        </div>
        <div class="content">.
            <h1> BEAUTY OF NATURE</h1>
            <P> Nature alwaays wears the colors of sprit.</P>
            <div>
                <button type="button"><span></span> click me</button>
                <button type="button"><span></span> search</button>
            </div>
        </div>

    </div>
